<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837005102989-2if8te7kj2clntv9buhhpm95rrm73cjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837005102989-2if8te7kj2clntv9buhhpm95rrm73cjp</string>
	<key>API_KEY</key>
	<string>AIzaSyBQfvr3mn5pxCfozZ5VR8AXVWvArmGXbAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>837005102989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatting</string>
	<key>PROJECT_ID</key>
	<string>demochat-3d407</string>
	<key>STORAGE_BUCKET</key>
	<string>demochat-3d407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837005102989:ios:9a6dde845302f7c3c8b7c4</string>
</dict>
</plist>